/* Write your desired css here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
}

table, tbody, tr, td, th {
    padding: 20px;
}

.dataTable {
    width: 100%;
    max-width: 500px;
}

thead {
    color: white;
    background-color: red;
}

.false-row {
    background-color: pink;
}

tr:hover {
    background-color: rgb(197, 145, 154);
}